In [117]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [118]:
train = pd.read_csv("train.csv")
test = pd.read_csv('test.csv')

In [119]:
print(train.head())

   id      f_00      f_01      f_02      f_03      f_04      f_05      f_06  \
0   0 -1.373246  0.238887 -0.243376  0.567405 -0.647715  0.839326  0.113133
1   1  1.697021 -1.710322 -2.230332 -0.545661  1.113173 -1.552175  0.447825
2   2  1.681726  0.616746 -1.027689  0.810492 -0.609086  0.113965 -0.708660
3   3 -0.118172 -0.587835 -0.804638  2.086822  0.371005 -0.128831 -0.282575
4   4  1.148481 -0.176567 -0.664871 -1.101343  0.467875  0.500117  0.407515

   f_07  f_08  ...      f_22      f_23      f_24      f_25      f_26  \
0     1     5  ... -2.540739  0.766952 -2.730628 -0.208177  1.363402
1     1     3  ...  2.278315 -0.633658 -1.217077 -3.782194 -0.058316
2     1     0  ... -1.385775 -0.520558 -0.009121  2.788536 -3.703488
3     3     2  ...  0.572594 -1.653213  1.686035 -2.533098 -0.608601
4     3     3  ... -3.912929 -1.430366  2.127649 -3.306784  4.371371

         f_27        f_28  f_29  f_30  target
0  ABABDADBAB   67.609153     0     0       0
1  ACACCADCEB  377.096415     0     0       1
2  AAAEABCKAD -195.599702     0     2       1
3  BDBBAACBCB  210.826205     0     0       1
4  BDBCBBCHFE -217.211798     0     1       1

[5 rows x 33 columns]

In [120]:
print(test.head())

       id      f_00      f_01      f_02      f_03      f_04      f_05  \
0  900000  0.442517  0.174380 -0.999816  0.762741  0.186778 -1.074775
1  900001 -0.605598 -0.305715  0.627667 -0.578898 -1.750931  1.355550
2  900002  0.303990  2.445110  0.246515  0.818248  0.359731 -1.331845
3  900003  0.154053  0.260126 -1.367092 -0.093175 -1.111034 -0.948481
4  900004 -1.651904 -0.424266 -0.667356 -0.322124 -0.089462  0.181705

       f_06  f_07  f_08  ...      f_21      f_22      f_23      f_24  \
0  0.501888     6     6  ... -1.006400 -1.193879 -2.435736 -2.427430
1 -0.190911     1     3  ...  2.382405  0.149442  1.883322 -2.848714
2  1.358622     3     3  ... -7.026098  1.312277 -5.157192  1.714005
3  1.119220     0     0  ... -0.594532 -3.939475  1.754570 -2.364007
4  1.784983     2     2  ...  0.084906 -0.985736 -0.130467 -3.557893

       f_25      f_26        f_27        f_28  f_29  f_30
0 -1.966887  5.734205  BAAABADLAC   99.478419     0     0
1 -0.725155  3.194219  AFABBAEGCB  -65.993825     1     0
2  0.585032  0.066898  BBACABBKEE  -87.405622     0     1
3 -1.003320  3.893099  AEBEAACQCC -281.293460     0     0
4  1.210687  1.861884  AEBBBBDABF   25.629415     0     2

[5 rows x 32 columns]

In [121]:
del train['id']
del train['f_27']

# del test['id']
del test['f_27']

In [122]:
# Separating Target & Other Columns
X = train.drop(columns=['target'])
y = train['target']

In [123]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=60)

In [124]:
param_grid_nb = {
    'var_smoothing': np.logspace(0,-9, num=20)
}

In [125]:
from sklearn.model_selection import GridSearchCV
nbModel_grid = GridSearchCV(estimator=GaussianNB(), param_grid=param_grid_nb, verbose=1, cv=5, n_jobs=-1)
nbModel_grid.fit(X_train, y_train)
print('Train Accuracy : %.3f'%nbModel_grid.best_estimator_.score(X_train, y_train))
print('Test Accuracy : %.3f'%nbModel_grid.best_estimator_.score(X_test, y_test))
print('Best Accuracy Through Grid Search : %.3f'%nbModel_grid.best_score_)
print('Best Parameters : ',nbModel_grid.best_params_)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Train Accuracy : 0.626
Test Accuracy : 0.626
Best Accuracy Through Grid Search : 0.626
Best Parameters :  {'var_smoothing': 2.3357214690901262e-07}

In [126]:
y_pred = nbModel_grid.predict(X_test)
print(y_pred)

[1 0 0 ... 0 1 0]

In [127]:
from sklearn.metrics import confusion_matrix
print("confusion matrix : ",confusion_matrix(y_test, y_pred) )
from sklearn.metrics import accuracy_score
print("accuracy score   : ",accuracy_score(y_test, y_pred))
from sklearn.metrics import precision_score
print("precision score  : ",precision_score(y_test, y_pred))
from sklearn.metrics import recall_score
print("recall score     : ",recall_score(y_test, y_pred))
from sklearn.metrics import f1_score
print("f1 score         : ", f1_score(y_test, y_pred))

confusion matrix :  [[154807  76500]
 [ 91827 126866]]
accuracy score   :  0.62594
precision score  :  0.6238309255234405
recall score     :  0.5801100172387776
f1 score         :  0.6011766127484546

In [128]:
nav_clf = GaussianNB()
nav_scores = cross_val_score(nav_clf, X_train, y_train, cv=5)
nav_mean = nav_scores.mean()
print('Naive Bayes Accuracy after CV: ',nav_mean)

Naive Bayes Accuracy after CV:  0.6257977777777778

In [129]:
gm = test[['id']]

In [130]:
gm

             id
0        900000
1        900001
2        900002
3        900003
4        900004
...         ...
699995  1599995
699996  1599996
699997  1599997
699998  1599998
699999  1599999

[700000 rows x 1 columns]

In [131]:
predT = test.drop(columns=['id'])

In [132]:
predictionOnTest = classifier.predict(predT)

In [133]:
gm['target'] = predictionOnTest

In [134]:
gm.head()

       id  target
0  900000       0
1  900001       1
2  900002       1
3  900003       0
4  900004       0

In [135]:
gm.to_csv('gm-project-ai.csv', index=False)

In [136]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
nbModel_grid = GridSearchCV(estimator=GaussianNB(), param_grid=param_grid_nb, verbose=1, cv=3, n_jobs=10)
nbModel_grid.fit(X_train, y_train)
print('Train : %.3f'%nbModel_grid.best_estimator_.score(X_train, y_train))
print('Test: %.3f'%nbModel_grid.best_estimator_.score(X_test, y_test))
print('Best Accuracy Through Grid Search : %.3f'%nbModel_grid.best_score_)
print('Best Parameters : ',nbModel_grid.best_params_)

Fitting 3 folds for each of 20 candidates, totalling 60 fits
Train : 0.626
Test: 0.626
Best Accuracy Through Grid Search : 0.626
Best Parameters :  {'var_smoothing': 7.847599703514623e-08}